{% extends 'base.html' %}
{% block content %}

<body class="background" onload="init();">
    <div class="container-fluid">
        <canvas id="canvas" width="700" height="1200"></canvas>
        <div class="container-fluid" id="game-buttons">
            <div class="row">
                {% if not current_user.mood_recorded %}
                <button class="btn btn-primary center" id="mood-btn" data-toggle="modal" data-target="#mood-modal" onclick="moodTrack();">
                    <h4>Check in</h4>
                </button>
                {% endif %}
                {% if current_user.mood_recorded %}
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    {% if not current_user.journal_recorded %}
                        <button class="btn btn-primary" id="journal" data-toggle="modal" data-target="#journal-modal" onclick="journalPrompt();">
                            <img src="{{url_for('static',filename='/images/fertilizer-icon.PNG')}}"
                                alt="Write in your journal!" width="75px" height="75px">
                            <h4>Food</h4>
                        </button>
                    {% endif %}
                    {% if current_user.journal_recorded %}
                        <button class="btn btn-primary" id="journal-blank" style="background-color:lightgray">
                            <img src="{{url_for('static',filename='/images/fertilizer-icon.PNG')}}"
                                alt="Write in your journal!" width="75px" height="75px">
                            <h4>Food</h4>
                        </button>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if not current_user.breathing_complete %}
                    <button class="btn btn-primary" id="breathing" data-toggle="modal" data-target="#breathing-modal" onclick="breathingExercise()">
                        <img src="{{url_for('static',filename='/images/watercan-icon.PNG')}}"
                            alt="Do some breathing exercises!" width="75px" height="75px">
                        <h4>Water</h4>
                    </button>
                    {% endif %}
                    {% if current_user.breathing_complete %}
                    <button class="btn btn-primary" id="breathing-blank" style="background-color:lightgray">
                        <img src="{{url_for('static',filename='/images/watercan-icon.PNG')}}"
                            alt="Do some breathing exercises!" width="75px" height="75px">
                        <h4>Water</h4>
                    </button>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if not current_user.meditation_complete %}
                    <button class="btn btn-primary" id="meditation" data-toggle="modal" data-target="#meditation-modal" onclick="meditationExercise()">
                        <img src="{{url_for('static',filename='/images/sun-icon.PNG')}}"
                            alt="Do a body scan meditation!" width="75px" height="75px">
                        <h4>Sun</h4>
                    </button>
                    {% endif %}
                    {% if current_user.meditation_complete %}
                    <button class="btn btn-primary" id="meditation-blank" style="background-color:lightgray">
                        <img src="{{url_for('static',filename='/images/sun-icon.PNG')}}"
                            alt="Do a body scan meditation!" width="75px" height="75px">
                        <h4>Sun</h4>
                    </button>
                    {% endif %}
                </div>
                <div class="col-md-3"></div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Modal code adapted from https://getbootstrap.com/docs/3.3/javascript/#modals -->
    <div class="modal" role="dialog" id="mood-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="document.getElementById('mood-modal').style.display='none'"><span aria-hidden="
                        true">&times;</span></button>
                    <h3 class="modal-title">How do you feel today?</h3>
                </div>
                <div class="modal-body">
                    <img src="{{url_for('static',filename='/images/mood-track-modal.PNG')}}" alt="Mood scale graphic" width="70%" height="70%" class="img-center">
                    <br>
                    <div class="row">
                        <form id="mood">
                            <div class="center" id="mood-buttons">
                                <h4>How do you feel today?</h4>
                                <label for="mood-entry"></label>
                                <input type="range" id="mood-entry" name="mood" min="1" max="5">
                                <br>
                                <input type="submit" id="mood-submit" class="btn btn-primary">
                                </input>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="modal" role="dialog" id="breathing-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="document.getElementById('breathing-modal').style.display='none'"><span aria-hidden="
                        true">&times;</span></button>
                    <h3 class="modal-title">Mindfully breathe and water your plant!</h3>
                </div>
                <div class="modal-body">
                    <div style="width:80%;height:0;padding-bottom:80%;position:relative;"><iframe
                            src="https://giphy.com/embed/1xVc4s9oZrDhO9BOYt" width="100%" height="100%"
                            style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    </div>
                    <p><a
                            href="https://giphy.com/gifs/healthline-meditation-stress-relief-box-breathing-1xVc4s9oZrDhO9BOYt">via
                            GIPHY</a></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="finish-breathing" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="document.getElementById('breathing-modal').style.display='none'">Finish</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" role="dialog" id="meditation-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="document.getElementById('meditation-modal').style.display='none'"><span aria-hidden="
                        true">&times;</span></button>
                    <h3 class="modal-title">Let some light in!</h3>
                </div>
                <div class="modal-body">
                    <p>Body scans help us ground into our bodies and help build our self awareness of our physical
                        sensations. It's easy to distance ourselves from how we feel in our bodies when we're busy
                        or stressed - we might not even notice the tension we're carrying. Taking a few moments to
                        pay attention to our bodies without judging or trying to change anything helps us build
                        self-care skills like acceptance of the current moment and compassionate awareness of how we
                        are feeling.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="finish-meditation" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="document.getElementById('meditation-modal').style.display='none'">Finish</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" role="dialog" id="journal-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="document.getElementById('journal-modal').style.display='none'"><span aria-hidden="
                        true">&times;</span></button>
                    <h3 class="modal-title">Write in your journal and feed your plant!</h3>
                </div>
                <div class="modal-body">
                    <form id="journal-form">
                        <div id="journal-prompt">
                        </div>
                        <div class="mb-4 field">
                            <input type="text" name="journal-entry" class="form-control" id="journal-entry" placeholder="Enter new journal prompt">
                        </div>
                        <div class="mb-4">
                            <button class="btn btn-primary" id="journal-submit">Submit journal prompt</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{url_for('static',filename='/scripts/gameScript.js')}}">
</script>
{% endblock %}