<!DOCTYPE html>
<html>
    <head>
        <title>
            GRO Game
        </title>
        <link rel="stylesheet" type="text/css" href="../style.css">
        <script type="application/javascript">
            function draw
        </script>
        <script type="text/javascript" src="gameScript.js"></script>  
    </head>
    <body class="background" onload="draw();">
        <canvas id="canvas" class="center-up" width="150" height="150"></canvas>
        <img class="img-center center" src="../images/potb.PNG" alt="0-phase" width="300" height="450">
    </body>
</html>