body {
    background-color: rgb(90, 161, 134);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background-color: rgb(155, 208, 233);
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.login-logo {
    height: 5vh;
    min-height: 50px;
}

.login-btn {
    width: 100%;
}