/* possible new color pallete
74cbf6
8ddd62
e5c997 */

:root {
    --hero-text-font: "Fredoka One", monospace;
    --header-font:  "Comfortaa", "Lucida Console", "Monaco", monospace;
    --body-font: "Palanquin", serif;
}

h2 {
    color:rgb(4, 36, 22);
    text-align:center;
    vertical-align: text-bottom;
}

.bar-0 {
    background-color: #9bd0e9;
    color:rgb(5, 17, 66);
    text-align:center;
    padding-top: 500px;
}

.bar-1 {
    background-color: rgba(71, 139, 122, 0.733);
    text-align: left;
}

.bar-2 {
    background-color: #5aa186;
    text-align: right;
}

.bar-3 {
    background-color: rgb(118, 199, 179);
    text-align: left;
}

.bar-4 {
    background-color: #ffffff;
    color: #555555;
}

.bar {
    padding-top: 130px;
    padding-bottom: 130px;
    font-family: var(--header-font);
    padding-right: 30px;
    padding-left: 30px;
}

#hp-1 {
    float: left;
    margin: 0 15px 0 0
}

#hp-2 {
    float: rght;
    margin: 0 0 0 15px;
}

.button {
    border: none;
    color: #0e3d1a;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}

.feature-button {
    border: 5px;
    padding: 15px;
    border-radius: 12px;
    font-family: var(--hero-text-font);
    text-shadow: 1px 1px 2px #222222;
    font-size: 28px;
    background-color: darkgreen;
    color:#ecf4f8;
}

.feature-button:hover {
    background-color: #cdcdcd;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.img-center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* .nav-head {
    padding-right: 30px;
    padding-left: 30px;
    display:flex;
    background-color: transparent;
} */

html {
    scroll-behavior: smooth;
  }

.navbar-default {
    background-color: white !important;
}

.navbar-default .navbar-nav>li>a {
    color: #222222 !important;
}

.navbar-brand {
    width:170px !important;
}

.logo {
    width:125px;
    height:50px;
    margin-top: -15px;
}

#nav {
    font-family: var(--header-font);
    font-size: 16px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.navbar-btn {
    border-color: #9bd0e9 !important;
    border-radius: 2px !important;
    background-color: #9bd0e9 !important;
    cursor: pointer;
    margin-left: 10px;
}