<!DOCTYPE html>
<html>
    <title>
        GRO
    </title>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
           <h1>GRO logo</h1>
            <h2>Welcome to GRO landing page</h2>
        </header>
         <div class="row1"> 
            <h3>
                Flavour text about the initial state of the plant....
            </h3>
        </div>
        <div class="row2">
            <h3>
                Flavour text about the middle state of the plant...
            </h3>
        </div>
        <div class="row3">
            <h3>
                Flavour text about the final state of the plant...
            </h3>
        </div>
    </body>