<!DOCTYPE html>
<html>
    <title>
        GRO icon
    </title>
    <link rel="icon" href="../graphics/logos/colour-flowers.PNG" sizes=”16×16″ type="image/PNG">
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <nav class="nav-navbar inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">GRO</a>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Game</a></li>
                    <li><a href="#">Tutorial</a></li>
                    <li><a href="#">Account</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user">Sign Up</span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in">Log In</span></a></li>
                </ul>
            </div>
        </nav>
        <header>
            <div class="bar-0 container-fluid">
                <img src="../graphics/logos/solidwhite.PNG" alt="white logo" width="150" height="50" class="img-center">
                <h2>Welcome to GRO landing page</h2>
                <div class="button center">
                    <button type="button">Join Us!</button>
                </div>
            </div>
        </header>
         <div class="bar-1 container-fluid"> 
            <h3>
                You take care of your plant by taking care of yourself 
                <img src="../images/leaf1-face0.PNG" alt="sleepy face" width="150" height="300">
            </h3>
        </div>
        <div class="bar-2 container-fluid">
            <h3>
                <img src="../images/leaf2-face4.PNG" alt="happy face" width="'150" height="300">
                To keep the plant happy, you need to perform breathing exercises, write what are you grateful for, and do a body scan meditation 
            </h3>
        </div>
        <div class="bar-3 container-fluid">
            <h3>
                If you forget to take care of the plant and yourself, the plant becomes sad, and it loses its leafs
                <img src="../images/leafb-face1.PNG" alt="sad face" width="150" height="300">
            </h3>
        </div>
        <div class="bar-4 container-fluid">
            <h3>
                Important information
            </h3>
        </div>
    </body>