<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        GRO
    </title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Athiti:wght@300&family=Comfortaa:wght@700&family=Fredoka+One&family=Palanquin&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="nav navbar-default" role="navigation">
        <!-- Mobile toggle behaviour based on https://getbootstrap.com/docs/3.3/components/#nav -->
        <div class="container-fluid" id="nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#main-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="logo" alt="Gro logo"
                        src="../graphics/logos/colour-flowers-resize.PNG"></a>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Game</a></li>
                    <li><a href="#">Tutorial</a></li>
                    <li><a href="#">Account</a></li>
                    <button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='#';">Sign
                        Up/Log In <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></button>
                </ul>
            </div>
        </div>
    </nav>

    <div class="bar bar-header container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-2 col-md-3 col-lg-3 col-xl-3"></div>
            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xl-6">
                <img src="../graphics/logos/solidwhite.PNG" alt="white logo" width="400" height="160"
                    class="img-responsive img-center">
                <div id="centre-box">
                    <h2> Build healthy habits with Gro, your friendly self-care guide.</h2>
                    <div class="spacer"></div>
                    <div class="button">
                        <!-- button onclick attr from https://www.w3docs.com/snippets/html/how-to-create-an-html-button-that-acts-like-a-link.html -->
                        <button type="button" class="feature-button"
                            onclick="window.location.href='#important-section';">Get Started!</button>
                    </div>
                    <div class="spacer"></div>
                    <div class="h5">Or learn more below.</div>
                    <div class="glyphicon glyphicon-menu-down"></div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-8 col-md-3 col-lg-3 col-xl-3"></div>
        </div>
    </div>
    <div class="bar bar-1 container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="box-left">
                    <h3>
                        It can take 30 days to start building a habit. Almost anything is possible with a little help!
                        Meet your very own plant friend, who will be there for you at every step. Gro together, day by
                        day!
                    </h3>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <img src="../graphics/webpage-images/sleeping-plant.png" alt="sleepy face" width="300" height="300"
                    class="image-responsive">
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="bar bar-2 container-fluid">
        <h3>
            <img src="../images/leaf2-face4.PNG" alt="happy face" width="'150" height="300">
            Check in with Gro every day, and be guided through interactive self-care exercises. Look after your plant to
            look after yourself!
        </h3>
    </div>
    <div class="bar bar-3 container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="box-left">
                    <h3>
                        Consistency and resiliency are key to building habits. Keep your streak and watch your plant
                        grow. If you miss a few days, your progress will go backward, but don't worry. Keep going, keep
                        Gro-ing, and your plant will bounce back with you.
                    </h3>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <img src="../graphics/webpage-images/neutral-plant.png" alt="sleepy face" width="300" height="300"
                    class="image-responsive">
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="bar bar-4 container-fluid" id="important-section">
        <h3>
            Important information
        </h3>
    </div>
</body>