h2 {
    color:rgb(4, 36, 22);
    text-align:center;
    vertical-align: text-bottom;
}

.bar-0 {
    background-color: rgb(155, 208, 233);
    color:rgb(5, 17, 66);
    text-align:center;
    padding-top: 500px;
}

.bar-1 {
    background-color: rgba(71, 139, 122, 0.733);
    text-align: left;
}

.bar-2 {
    background-color: rgb(90, 161, 134);
    text-align: right;
}

.bar-3 {
    background-color: rgb(118, 199, 179);
    text-align: left;
}

.bar-4 {
    background-color: #ffffff;
    color: #555555;
}

.container-fluid {
    padding-top: 130px;
    padding-bottom: 130px;
    font-family: "Lucida Console", "Monaco", monospace;
    padding-right: 30px;
    padding-left: 30px;
}

#hp-1 {
    float: left;
    margin: 0 15px 0 0
}

#hp-2 {
    float: rght;
    margin: 0 0 0 15px;
}

.button {
    border: none;
    color: #0e3d1a;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.img-center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.nav-head {
    padding-right: 30px;
    padding-left: 30px;
    display:flex;
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
  }

.logo {
    width:50px;
    height: 25px;
}